:root {
    --spacing-01: 0.8rem;
    --spacing-02: 1.6rem;
    --spacing-03: 2.4rem;
    --spacing-04: 3.2rem;
    --spacing-05: 4.0rem;
    --spacing-06: 4.8rem;
    --spacing-07: 5.6rem;
    --spacing-08: 6.4rem;

    --color-text: #e3e5e8;
    --color-background-40: rgb(13, 15, 18, 0.4);
    --color-background-60: #2f353d;
    --color-side: rgba(255, 255, 255, 0.1);
    --color-primary-900: #0d0f12;
    --color-primary-800: #171a1e;
    --color-primary-700: #2f353d;
    --color-primary-600: #434d5a;
    --color-primary-500: #5e6977;
    --color-primary-400: #778089;
    --color-primary-300: #9399a1;
    --color-primary-200: #c8cbce;
    --color-primary-100: #e3e5e8;
    --color-primary-050: #f2f5f7;
    --color-primary-000: #ffffff;

    --color-primary-900-60: rgb(13 15 18 / 60%);


    --color-accent: rgb(230, 64, 64);

    --title-h1: clamp(4rem,4rem + 1vw,9.6rem);
    --title-h2: clamp(2rem,2rem + 1vw,3.2rem);
    --title-h3: clamp(1.6rem, 1.6rem + 0.2vw,2rem);
    --text-mark: clamp(2rem,1rem + 2vw,3.2rem);
    --title-h4: clamp(2.0rem,1rem + 1vw,4.0rem);
    --title-h5: clamp(1.6rem,1rem + 1vw,2.4em);
    --title-h6: clamp(1.4rem,1rem + 1vw,1.8rem);
    --title-line-height: 1;
    --text-line-height: 1.5;
    --text-small: 1.4rem;
    --text-normal: 1.6rem;
    --text-large: 1.8rem;
    --pill-padding: 0.8rem 1.6rem;

    --movie-brand-logo: clamp(3.2rem, 5rem + 4vw ,14rem);;

    --icon-size-small: 2.4rem;
    --icon-size-medium: 3.2rem;
    --icon-size-large: 4.0rem;
    --icon-size-huge: 4.8rem;
    
    --radius-small: 0.4rem;
}
[data-theme='light'] {
    --color-background-40: rgb(255, 255, 255, 0.4);
    --color-background-60: #2f353d;
    --color-primary-900: #ffffff;
    --color-primary-800: #f2f5f7;
    --color-primary-700: #c8cbce;
    --color-primary-600: #778089;
    --color-primary-500: #5e6977;
    --color-primary-400: #434d5a;
    --color-primary-300: #2f353d;
    --color-primary-200: #171a1e;
    --color-primary-100: #0d0f12;
    --color-primary-050: #f2f5f7;

}
[data-active='false'] {
    fill: transparent;
    stroke: var(--color-primary-300);
}
[data-active='true'] {
    stroke: none;
    fill: var(--color-primary-300);
}
.background {
    background-color: var(--color-primary-900);
}
html {
    font-family: 'Montserrat';
    font-size: 62.5%;
}
body {
    margin: 0;
}
.wrapper {
    margin: 0 var(--spacing-02);
}
h1 {
    text-align: center;
    margin-block-end: 0;
    font-size: var(--title-h1);
    line-height: 1;
}
h2 {
    font-size: var(--title-h2);
}
h3 {
    color: var(--color-primary-100);
    margin-block-start: 0.8rem;
    font-size: var(--title-h3);
}
span {
    font-size: 1.4rem;
}
p {
    line-height: var(--text-line-height);
    font-size: 1.6rem;
}
span, p, .card-genres, .footer-list-item {
    color: var(--color-primary-300);
}
.header-title, h2, h1, .movie-result-name{
    color: var(--color-primary-100);
}
section {
    overflow: hidden;
    margin-block-end: var(--spacing-06);
}
button {
    background: transparent;
    border: none;
}
.disable-scroll {
    overflow: hidden;
}
.line {
    display: flex;
    align-items: center;
    padding-left: var(--spacing-02);
}
.line::before {
    content: '';
    border-left: 0.4rem solid var(--color-accent);
    height: 3.2rem;
    position: absolute;
    margin-left: calc(-1 * var(--spacing-02));
}
.wrapper {
    margin: 0 var(--spacing-02);
}
.flex { 
    display: flex;
}
.gap-01 {
    gap: var(--spacing-01);
}
.list-none {
    list-style-type: none;
    padding-inline: 0;
}
.hide-menu {
    display: none;
}
.popcorn {
    width: 24vw;
    position: relative;
    z-index: 10000;
    fill: var(--color-accent);
}
.close-display {
    z-index: 1000;
    position: absolute;
    top: var(--spacing-04);
    right: var(--spacing-06);
}
.vertical {
    transform: rotate(90deg);
    transform-origin: center;
}
.close-ui {
    display: flex;
    justify-content: flex-end;
    z-index: 1000;
}
.button-round {
    display: flex;
    align-items: center;
    justify-content: center;
    fill: var(--color-primary-100);
    background-color: var(--color-background-40);
    border: 1px solid var(--color-primary-600);
    padding: var(--spacing-01);
    border-radius: 30rem;
    height: var(--icon-size-large);
    width: var(--icon-size-large);
}
.button-round-icon {
    height: var(--icon-size-medium);
    width: var(--icon-size-medium);
}
.button-primary {
    height: min-content;
    border-radius: var(--radius-small);
    margin: var(--spacing-02) 0 var(--spacing-04) 0;
    padding: 1.2rem 2.4rem;
    display: block;
    width: fit-content;
    --color-primary-900: #0d0f12;
    cursor: pointer;
    color: var(--color-primary-900);
    transition: 100ms;
    background-color: var(--color-primary-000);
}
.button-primary:hover {
    color: var(--color-primary-000);
    background-color: var(--color-accent);
}

.botline { 
    stroke: none;
    fill: var(--color-primary-300);
}
.mr00 {
    margin-right: 0;
}
.pill-container {
    display: flex;
    gap: var(--spacing-01);
    overflow-x: scroll;
}
.pill {
    white-space: nowrap;
    height: min-content;
    border-radius: 3rem;
    padding: var(--pill-padding);
    border: 2px solid var(--color-primary-800);
}

/* -------------------- 
NAVBAR
-------------------- */
.navbar {
    padding: var(--spacing-01) 0;
    transition: 600ms;
    position: fixed;
    z-index: 110;
    width: 100%;

}
.navbar-active {
    background-color: var(--color-primary-900);
}
.navbar-container {
    width: 100%;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}
.navbar-hide {
    opacity: 0;
}
.navbar-brand {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.navbar-search-menu {
    min-height: 100vh;
    margin-top: var(--spacing-04);
}
/* -------------------- 
CARD Scroller
-------------------- */

.card {
    scroll-snap-align: start;
    min-width: min(288px, 80%);
}
.card-image, .flux-movie-img {
    transition: 300ms;
    border: 2px solid transparent;
    border-radius: 0.8rem;
    cursor: pointer;
    width: 100%;
    height: auto;
}
.card-image:hover, .flux-movie-img:hover {
    border: 2px solid var(--color-accent);
}
.card-image-placeholder {
    background-color: var(--color-primary-700);
    border-radius: var(--spacing-01);
    aspect-ratio: 2 / 3;
}
.placeholder-body {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-wrap: wrap;
    height: 100%;
}
.placeholder-text {
    width: 90%;
    --color-primary-900: #0d0f12;
    margin-block: 0.4rem;
    font-size: var(--text-small);
    color: var(--color-primary-900);
    
}
.placeholder-logo {
    --color-primary-900: #0d0f12;
    fill: var(--color-primary-900);
}
.card-header {
    width: 100%;
}
.card-scroll-frame {
    grid-area: 2/1;
    scroll-behavior: smooth;
    display: flex;
    gap: var(--spacing-02);
    overflow-x: scroll;
    overflow-y: hidden;
    scroll-snap-type: x mandatory;
}
.card-scroll-frame::-webkit-scrollbar {
    display: none;
}
.card-body {
    padding: var(--spacing-02);
}
.card-rating {
    fill: var(--color-accent);
    height: 2.4rem;
    width: auto;
}
.card-review {
    display: flex;
    align-items: center;
    gap: var(--spacing-01);
}
.card-genres {
    padding: 0.8rem 1.2rem;
    border: 1px solid var(--color-primary-800);
    border-radius: 3rem;
    width: max-content;
}
.card-list-genres, .display-genres {
    display: flex;
    flex-wrap: wrap;
    gap: var(--spacing-01);
}
.search-active {
    overflow-y: scroll;
    height: 100%;
    background: var(--color-primary-900);
}
.search-icon {
    fill: var(--color-primary-100);
    height: 1.6rem;
    width: auto;
}
.search-input {
    width: 100%;
    height: 2.4rem;
    font-size: var(--text-normal);
    color: var(--color-primary-100);
    background: none;
    border: none;
    outline: none;
    -webkit-tap-highlight-color: transparent;
}
.search-input::placeholder {
    color: var(--color-primary-100);
}
.search-box {
    margin: var(--spacing-02) 0 var(--spacing-01) 0;
    padding: 0.8rem 0.8rem;
    display: flex;
    gap: 0.4rem;
    align-items: center;
    border: 0.1rem solid var(--color-primary-800);
    border-radius: var(--radius-small);
    height: 2.4rem;
    z-index: 10;
    background-color: var(--color-primary-900-60);
}

.something {
    grid-area: 1 / 2 / 1 / 3;
}
/* -------------------- 
FILTER
-------------------- */

.filter-page {
    position: fixed;
    top: 0px;
    width: -webkit-fill-available;
    min-height: 100vh;
    background-color: var(--color-primary-900-60);
    z-index: 100;
    display: flex;
    align-items: center;
    justify-content: center;
}
.filter-modal {
    padding: var(--spacing-02);
    height: 100vh;
    min-width: calc(100vw - var(--spacing-04));
    display: grid;
    gap: var(--spacing-01);
    grid-template-rows: repeat(4, min-content);
    background-color: var(--color-primary-800);
}

.filter-subtitle {
    font-size: var(--text-large);
    color: var(--color-primary-100);
}
.genre-submit {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
}
.genres-list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: var(--spacing-02);
}

.genre-option {
    height: min-content;
    cursor: pointer;
    border: 1px solid var(--color-primary-600);
    padding: 1.6rem;
    text-align: center;
    border-radius: 0.4rem;
}
.genre-option:hover {
    color: var(--color-accent);
    border: 1px solid var(--color-accent);
}
.title-genre {
    font-weight: 500;
    margin-left: var(--spacing-01);
}
/* -------------------- 
BOTTOM Navigation
-------------------- */

.bottom-navigation {
    position: fixed;
    bottom: 0px;
    background-color: var(--color-primary-900);
    max-width: 100vw;
    width: 100%;
}
.bottom-navigation-ui {
    padding: var(--spacing-01) 0;
    display: flex;
    justify-content: space-between;
}
.bottom-navigation-link {
    text-decoration: none;
}
.navigation-icon {
    transition: 300ms;
    height: var(--icon-size-large);
    width: var(--icon-size-large);
}
.navigation-text {
    color: var(--color-primary-300);
}

.navigation-button {
    display: flex;
    gap: var(--spacing-01);
    align-items: center;
    flex-direction: column;
}
.toggle {
    height: var(--icon-size-large);
    display: flex;
    align-items: center;
}
.toggle-body {
    height: var(--icon-size-small);
    border: 1px solid var(--color-primary-300);
    width: var(--icon-size-huge);
    border-radius: 3rem;
    display: flex;
    align-items: center;
}
.button-toggle-circle {
    margin: var(--spacing-01);
    height: 16px;
    width: 16px;
    background-color: var(--color-primary-000);
    border-radius: 3rem;
}
.toggle-body, .button-toggle-circle {
    transition: 600ms;
}
.toggle-body[data-button = 'inactive'] {
    background-color: transparent;
}
.toggle-body[data-button = 'active'] {
    background-color: var(--color-primary-300);
}

.toggle-body[data-button = 'inactive'] > .button-toggle-circle {
    transform: translateX(0px);
}
.toggle-body[data-button = 'active'] > .button-toggle-circle {
    transform: translateX(16px);
}

.showResults {
    position: absolute;
    background-color: var(--color-primary-900);
    width: 100vw;
    min-height: 100vh;
    left: 0px;
    top: 64px;
    z-index: 10;
}
.display {
    position: fixed;
    background-color: var(--color-primary-900);
    min-height: 100vh;
    width: -webkit-fill-available;
    left: 0px;
    top: 0;
    z-index: 100;
}
.movie-cover {
    z-index: 1000;
    width: 100%;
    height: 64px;
    position: absolute;
}
/* -------------------- 
DISPLAY HERO Max
-------------------- */
.hero {
    margin-block: 0;
    height: 70vh;
    grid-template-rows: 100%;
    grid-template-columns: 100%;
    display: grid;
}
.hero-body {
    text-align: center;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    position: relative;
    height: 100%;
    grid-area: 1/1;
}
.hero-title {
    --color-primary-100: #e3e5e8;;
    color: var(--color-primary-100);
}
.headline {
    margin-bottom: var(--spacing-02);
}
.hero-subtitle {
    margin-block-end: var(--spacing-01);
    --color-primary-300: #9399a1;
    color: var(--color-primary-300);
}
.hero-image-static, .hero-body-image {
    grid-area: 1/1;
}
.hero-image-large {
    width: 100%;
    height: auto;
}


/* -------------------- 
DISPLAY Hero Slider
-------------------- */
.hero-scroll-frame {
    overflow-y: hidden;
    scroll-snap-type: x mandatory;
    overflow-x: scroll;
    scroll-behavior: smooth;
    display: flex;
}
.hero-scroll-frame::-webkit-scrollbar {
    display: none;
}
.hero-scroll-frame > img {
    flex: 0 0 100%;
}
.hero-banner {
    scroll-snap-align: start;
    flex: 0 0 100%;
    display: grid;
}
.hero-brand {
    width: auto;
    height: var(--movie-brand-logo);
}
.slider-headline {               
    display: grid;
    justify-items: center;
    margin-bottom: var(--spacing-02);
}
.hero-slider-pagination {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: calc(-1 * var(--spacing-04));
    gap: var(--spacing-01);
}
.pagination-circle {
    background-color: var(--color-primary-600);
    display: block;
    height: var(--spacing-01);
    width: var(--spacing-01);
    border-radius: 30rem;
}
.active {
    background-color: var(--color-primary-050)
}
.hero-body-image {
    height: 100%;
}

/* -------------------- 
MOVIE Search Results
-------------------- */

.movie-item {
    display: flex;
    gap: var(--spacing-02);
}
.movie-result-image {
    background-image: var(--color-primary-800);
    height: 64px;
    object-fit: cover;
}
.movie-result-name {
    font-size: var(--text-normal);
    display: block;
    width: 100%;
    margin-right: var(--spacing-01);
}
.movie-list {
    display: flex;
    flex-wrap: nowrap;
    gap: var(--spacing-02);
    flex-direction: column;
    padding-bottom: var(--spacing-05);
}
.movie-card-landscape {
    display: grid;

}
.landscape-header, .landscape-image {
    grid-area: 1/1;
}
.landscape-header {
    padding: 0 var(--spacing-02);
    position: relative;
    z-index: 1;
    display: flex;
    align-items: end;
    flex-wrap: wrap;
    border-radius: var(--spacing-01);
    background-image: linear-gradient(transparent 20%,
                                    rgb(0 0 0 / 5%) 30%,
                                    rgb(0 0 0 / 10%) 40%, 
                                    rgb(0 0 0 / 20%) 50%, 
                                    rgb(0 0 0 / 40%) 60%, 
                                    rgb(0 0 0 / 70%) 70%, 
                                    rgb(0 0 0 / 90%) 80%, 
                                    rgb(0 0 0 / 100%) 90%, 
                                    rgb(0 0 0 / 100%) 100%
                                    );
}
/* -------------------- 
FOOTER
-------------------- */

.footer {
    min-height: 25.6rem;
}
.footer-header {
    font-weight: 600;
    display: flex; 
    align-items: center;
    justify-content: space-between;
}
.header-title {
    font-size: 1.8rem;
}
.header-button {
    cursor: pointer;
    height: 48px;
    width: 48px;
    font-size: 1.8rem;
    color: var(--color-accent);
}
.footer-list {
    display: none;
}
.footer-list-item {
    font-size: var(--text-normal);
    line-height: 2.4;
}
.expand {
    display: block;
}



/* -------------------- 
DISPLAY Movies
-------------------- */
.movie-cinema {
    overflow: hidden;
    height: 225px;
    display: flex;
    align-items: center;
}
.display-hero {
    width: 100vw;
    position: relative;
    z-index: 100;
    scale: 1.4;
    grid-area: 1 / 1;
}

.display-nav {
    margin-top: -2.4rem;
    top: var(--spacing-05);
    z-index: 100;
    position: absolute;
    z-index: 100;
    right: 0;
}
.display-title {
    margin-block-start: var(--spacing-01);
}
/* -------------------- 
FLUX Movies
-------------------- */

.flux-movies {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: var(--spacing-02);
}
.flux-movie-img {
    border-radius: var(--spacing-01);
    width: 100%;
    height: auto;
}
.filter {
    padding: 0 0 var(--spacing-03) 0;
    display: flex;
    justify-content: flex-end;
}
.sorting {
    display: flex;
    gap: var(--spacing-01);
    align-items: center;
}
.sort-field {
    color: var(--color-primary-200);
    font-size: var(--text-normal);
    padding: var(--spacing-01);
    border-radius: var(--radius-small);
    border: none;
    height: var(--icon-size-large);
    background: transparent;
}

/* -------------------- 
DESKTOP CSS
-------------------- */

@media (min-width: 1024px) {
    .filter-modal {
        min-width: auto;
        grid-template-rows: min-content min-content max-content;
        width: 50vw;
        height: 70vh;
        border-radius: var(--radius-small);
        padding: var(--spacing-04);
    }
    .body-static {
        align-items: center;
        display: flex;
        flex-wrap: wrap;
    }
    .genres-list {
        grid-template-columns: repeat(6, 1fr);
    }
    .hero-scroll-frame {
        grid-area: 1 / 1 / 1 / 1;
    }
    .hero-banner {
        overflow: hidden;
        grid-template-columns: 40% 60%;
        align-items: center;
        grid-template-rows: 100%;
    }
    .hero-image-large {
        width: auto;
        height: 100%;
    }
    .hero {
        height: 80vh;
    }
    .button-round {
        height: var(--icon-size-huge);
        width: var(--icon-size-huge);
    }
    .filter-page {
        padding-top: var(--spacing-05);
    }
    .hero-body {
        text-align: left;
        justify-content: left;
    }
    h1 {
        text-align: left;
    }
    .hero-subtitle {
        text-align: left;
        font-size: var(--text-large);
    }
    .carousel-container {
        display: grid;
    }
    .carousel-navigation {
        position: absolute;
        z-index: 10;
        width: calc(100vw - var(--spacing-04));
        left: 0px;
    }
    .carousel-nav-button {
        position: absolute;
        z-index: 100;
        background-color: rgba(13, 15, 18, 0.4);
        height: var(--button-height);
        width: max(4vw, 64px);
    }
    .carousel-nav-icon {
        fill: var(--color-primary-100);
        height: var(--icon-size-huge);
        width: auto;
    }
    .carousel-nav-icon:hover {
        transition: 200ms;
        transform: scale(1.2);
    }
    .carousel-nav-button:nth-child(1) {
        border-radius: var(--spacing-01) 0 0 var(--spacing-01) ;
        left: var(--spacing-06)
    }
    .carousel-nav-button:nth-child(2) {
        border-radius: 0 var(--spacing-01) var(--spacing-01) 0;
        right: calc(var(--spacing-06) - 2px)
    }
    .navigation-links {
        flex-grow: 1;
        margin-left: var(--spacing-04);
    }
    .navigation-link {
        padding: 0 var(--spacing-02);
        text-decoration: none;
        cursor: pointer;
        font-size: var(--text-normal);
        color: var(--color-primary-200);
    }
    .navigation-link:hover {
        color: var(--color-accent);
    }
    .popcorn {
        width: auto;
        height: 2.8vh;
    }
    .display {
        display: grid;
        grid-template-columns: 100%;
    }
    .display-nav {
        top: var(--spacing-04);
    }
    .display-headline {
        width: 32vw;
        position: relative;
        z-index: 100;
        display: flex;
        align-items: center;
        grid-area: 1/1;
    }
    .movie-cinema {
        grid-area: 1/1;
    }
    .movie-list {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: var(--spacing-03);
    }
    .card {
        transition: 600ms;
        min-width: auto;
        --card-number: 8;    
        flex: 0 0 calc(100% / var(--card-number) - var(--spacing-02));
    }
    .flux-movies {
        grid-template-columns: repeat(8, 1fr);
    }
    .flux-landscape {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: var(--spacing-02);
    }
    .wrapper {
        margin: 0 var(--spacing-06);
    }
    .movie-cinema {
        overflow: hidden;
        height: 100vh;
    }
    .genres-list[data-type='true'] {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
    }
}
.genre-active {
    transition: 600ms;
    border: 1px solid var(--color-accent);
    color: var(--color-accent);
    background-color: rgb(230, 64, 64, 0.1);
}
.hide {
    display: none;
}
.buttons-slider  {
    grid-area: 1 / 1 / 1 / 1;
    display: flex;
    height: 100%;
    align-items: center;
}
.round-shape {
    border-radius: 30rem !important;
    height: var(--icon-size-huge);
    width: var(--icon-size-huge);
}
.carousel-nav-button.round-shape:nth-child(1) > svg { 
    margin-left: -4px;
    height: var(--spacing-04);
    
}
.carousel-nav-button.round-shape:nth-child(2) > svg { 
    margin-right: -4px;
    height: var(--spacing-04);  
}
.margin-none {
    margin: 0;
}
.mt20 {
    margin-top: var(--spacing-04);
}